<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ue.mapper.DataItemMapper" >
  <resultMap id="BaseResultMap" type="com.ue.entity.DataItem" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="datasource" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="val" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, datasource, code, val
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_annotation_data_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_annotation_data_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ue.entity.DataItem" >
    insert into t_annotation_data_item (id, datasource, code, 
      val)
    values (#{id,jdbcType=INTEGER}, #{datasource,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{val,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ue.entity.DataItem" >
    insert into t_annotation_data_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datasource != null" >
        datasource,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="val != null" >
        val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datasource != null" >
        #{datasource,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="val != null" >
        #{val,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ue.entity.DataItem" >
    update t_annotation_data_item
    <set >
      <if test="datasource != null" >
        datasource = #{datasource,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="val != null" >
        val = #{val,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ue.entity.DataItem" >
    update t_annotation_data_item
    set datasource = #{datasource,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      val = #{val,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByDatasourceCode" parameterType="com.ue.entity.DataItem" resultType="com.ue.entity.DataItem">
    select
    <include refid="Base_Column_List"/>
    from t_annotation_data_item
    <where>
      <if test="datasource != null">
        and datasource = #{datasource}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
    </where>
  </select>
</mapper>