<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ue.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.ue.entity.Student" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stu_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="english_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stu_hobby" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, stu_level, english_level, stu_hobby
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_annotation_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_annotation_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ue.entity.Student" >
    insert into t_annotation_student (id, name, stu_level, 
      english_level, stu_hobby)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{stuLevel,jdbcType=INTEGER}, 
      #{englishLevel,jdbcType=INTEGER}, #{stuHobby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ue.entity.Student" >
    insert into t_annotation_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="stuLevel != null" >
        stu_level,
      </if>
      <if test="englishLevel != null" >
        english_level,
      </if>
      <if test="stuHobby != null" >
        stu_hobby,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuLevel != null" >
        #{stuLevel,jdbcType=INTEGER},
      </if>
      <if test="englishLevel != null" >
        #{englishLevel,jdbcType=INTEGER},
      </if>
      <if test="stuHobby != null" >
        #{stuHobby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ue.entity.Student" >
    update t_annotation_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuLevel != null" >
        stu_level = #{stuLevel,jdbcType=INTEGER},
      </if>
      <if test="englishLevel != null" >
        english_level = #{englishLevel,jdbcType=INTEGER},
      </if>
      <if test="stuHobby != null" >
        stu_hobby = #{stuHobby,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ue.entity.Student" >
    update t_annotation_student
    set name = #{name,jdbcType=VARCHAR},
      stu_level = #{stuLevel,jdbcType=INTEGER},
      english_level = #{englishLevel,jdbcType=INTEGER},
      stu_hobby = #{stuHobby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listPager" resultType="com.ue.entity.Student" parameterType="com.ue.entity.Student">
    select
    <include refid="Base_Column_List"/>
    from t_annotation_student
    <where>
      <if test="name != null">
        and name like CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>
</mapper>